<domain type='kvm'>
  <name>{{ inventory_hostname }}</name>
  <memory unit='KiB'>{{ (memoryM * 1024) | int }}</memory>
  <currentMemory unit='KiB'>{{ (memoryM * 1024) | int }}</currentMemory>
  <vcpu placement='static'>1</vcpu>
  <os>
    <type>hvm</type>
  </os>
 <features>
    <acpi/>
    <apic/>
  </features>
  <devices>
    <emulator>/usr/bin/qemu-kvm</emulator>

   <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file="{{ libvirt_storage }}/{{ inventory_hostname }}.qcow2"/>
      <target dev='vda' bus='ide'/>
      <boot order="2"/>
    </disk>
   <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file="{{ libvirt_storage }}/{{ inventory_hostname }}.autounattend.iso"/>
      <target dev='vdb' bus='ide'/>
      <readonly/>
    </disk>
    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file="{{ libvirt_storage }}/{{ w2016_iso.split("/")[-1] }}"/>
      <target dev='vdc' bus='ide'/>
      <boot order="1"/>
    </disk>

    <controller type='pci' index='0' model='pci-root'/>

    <interface type='network'>
      <source network='{{ libvirt_network }}'/>
      <model type='rtl8139'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
    </interface>

    <graphics type='spice' port='5900' autoport='yes' listen='127.0.0.1'>
      <listen type='address' address='127.0.0.1'/>
    </graphics>

    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1'/>
      <alias name='video0'/>
      <address type='pci' domain='0x0000' bus='0x00' slot='0x02' function='0x0'/>
    </video>

    <rng model='virtio'>
      <backend model='random'>/dev/random</backend>
    </rng>
  </devices>
</domain>
